<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-9">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                  data-toggle="tab">全部</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">问答</a>
                        </li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                                   data-toggle="tab">分享</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab"
                                                   data-toggle="tab">精华</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active mgt-20 article_part" id="home">
                            <ul>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                    <!--<span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>-->
                                                    <!--<a class="tag tag-green" href="#">全部</a>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane mgt-20 article_part" id="profile">
                            <ul>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                    <!--<span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>-->
                                                    <!--<a class="tag tag-green" href="#">全部</a>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane mgt-20 article_part" id="messages">
                            <ul>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                    <!--<span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>-->
                                                    <!--<a class="tag tag-green" href="#">全部</a>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane mgt-20 article_part" id="settings">
                            <ul>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                    <!--<span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>-->
                                                    <!--<a class="tag tag-green" href="#">全部</a>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="article_container">
                                        <div class="article_content">
                                            <div class="pull-left">
                                                <div class="article_answer"><span>0</span> <span>回答</span></div>
                                                <div class="article_browse"><span>0</span> <span>浏览</span></div>
                                            </div>
                                            <div class="pull-left">
                                                <div class="article_person"><span>xxxx</span> <span>ssss</span>
                                                    <span>前提问</span></div>
                                                <div class="article_title">
                                                    <a href="#">这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目<span class="tag tag-green" >全部</span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-xs-3">
                    <div class="rank_box">
                        <h2 class="rank_title">
                            排行榜
                        </h2>
                        <div class="rank_content">
                            <ul>
                                <li>
                                    <span class="rank crown crown-1st">1</span>
                                    <div class="person_img">
                                        <img src="../img/avatar_default.jpg" alt="">
                                    </div>
                                </li>
                                <li>
                                    <span class="rank crown crown-2nd">2</span>
                                </li>
                                <li>
                                    <span class="rank crown crown-3rd">3</span>
                                </li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<!-- <div class="article_header">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':'ALL'== articleLabel}" ng-click="changeTag('ALL')"><a>全部</a></li>
        <li role="presentation" ng-class="{active:'QUESTION' == articleLabel}" ng-click="changeTag('QUESTION')"><a>问答</a></li>
        <li role="presentation" ng-class="{active: 'SHARE' == articleLabel}" ng-click="changeTag('SHARE')"><a>分享</a></li>
        <li role="presentation" ng-class="{active:'PERFECT' == articleLabel}" ng-click="changeTag('PERFECT')"><a>精华</a></li>
    </ul>
</div>

<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>

 -->